/* Resets */
body, h1, h2, h3, h4, h5, p, ul, figure { margin: 0; padding: 0 }
html, body, main, section, nav { height: 100%; }
button, input { color: inherit; font-size: inherit; font-family: inherit; }

/* Global fonctions */
.ellipsis { text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.text-center { text-align: center }
.feather-small > .feather { width: 15px; height: 15px; }
.button-default { border: none; background: none; }
.hidden {display: none !important }

/* TODO variables */

/* Main container */
body {
    font-family: "Work Sans",Arial,sans-serif;
    color: #222;
    overflow: hidden;
}
main {
    display: table;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
}


/* Header */
header {
    color: #222;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.header__sides {
    width: 25px;
}

/* Nav */
nav {
    width: 180px;
    border-right: 1px solid #b3b3b3;
    display: table-cell;
    transition: width 0.45s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
}

.nav--collapsed { width: 0px; }

/* Content */
section {
    display: table;
    overflow: auto;
    width: 100%;
}

article {
  min-height: 500px;
  padding: 10px;
}


/* Footer */
footer {
    display: table-row;
    background-color: #444;
    text-align: center;
    color: white;
    height: 60px;
}


/* MEDIA */
.core-media-list {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -5px 0 -5px;
}
.core-media-list__item {
    width: 250px;
    padding: 5px;
}
.core-media-list__item__image {
    height: 150px;
    width: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.core-media-infos {
    font-size: smaller;
    display: flex;
    align-items: center;
}
.core-media-infos__input {
    margin-left: 13px;
}

input.core-input-text {
    border: none;
    padding: 0;
    outline: none;
    border-bottom: 1px solid #CCC;
}