/* Resets */
body, h1, h2, h3, h4, h5, p, ul { margin: 0; padding: 0 }
html, body, main, section, #section-wrapper { height: 100% }
input{ font-size: inherit; font-family: inherit; }

/* TODO variables */

/* Main container */
main {
    font-family: "Work Sans",Arial,sans-serif;
    color: #222;
    display: table;
    table-layout: fixed;
    width: 100%;
}

/* Header */
header {
    color: #222;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.header__sides {
    width: 25px;
}

/* Nav */
nav {
    width: 180px;
    height: 100%;
    border-right: 1px solid #b3b3b3;
    display: table-cell;
    transition: width 0.7s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
}

.nav--collapsed { width: 0px; }

/* Content */
section {
    display: table;
    overflow: auto;
    width: 100%;
}

article {
  min-height: 500px;
  padding: 10px;
}


/* Footer */
footer {
    display: table-row;
    background-color: #444;
    text-align: center;
    color: white;
    height: 60px;
}