.DS_Store
node_modules
/dist
*.rdb

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# go
*.so
*.pb.go
*.qtpl.go


# Core
core/assets/media/
core/assets/thumbnail/
core/assets/data/
compiled.js*